@import url(https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600;700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.header__top {
  background-color: #0282F9;
  color: #FFFFFF;
  text-align: right;
}
.header__top span {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.header__top span:not(:last-child) {
  margin-right: 3rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.nav .logo__img {
  width: 90px;
}
.nav .links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #1C1C1C;
  font-weight: 700;
}
.nav .links a:not(:last-child) {
  margin-right: 3rem;
}

.search_box input {
  text-align: right;
  font-family: "Fira Sans Condensed", sans-serif;
  border-style: none;
  border-bottom: 3px solid #0282F9;
  height: 30px;
  padding-right: 10px;
}